<!Doctype html>
<html>
    <body>
        <form method="POST" action="/register">
            <label for="name">Name:</label>
            <input type="name" name="name" required>
            <label for="pasword">pasword:</label>
            <input type="password" name="password" required>
            <label for="year">year:</label>
            <select id="year" name="year">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">4</option>
                <option value="4">4</option>
            </select>
            <button type="submit">Register</button>
        </form>
    </body>
</html>
